version: 2
updates:
  - package-ecosystem: "github-actions"
    # default location of `.github/workflows`
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
  - package-ecosystem: "nuget"
    # location of package manifests
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    groups:
      MicrosoftExtensions:
          - "Microsoft.Extensions.*"
  - package-ecosystem: dotnet-sdk
    directory: /
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
