name: Publish Docker image
on:
  workflow_dispatch:
  push:
    tags: ["v*"]
    branches: [main]
  pull_request:
env:
  REGISTRY: msgraphprod.azurecr.io
  IMAGE_NAME: public/openapi/hidi
  PREVIEW_BRANCH: "refs/heads/main"
jobs:
  push_to_registry:
    environment:
      name: acr
    name: Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Login to registry 
        uses: docker/login-action@v3.3.0 
        with:
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          registry: ${{ env.REGISTRY }}
      - run: |
          $content = [XML](Get-Content ./src/Microsoft.OpenApi.Hidi/Microsoft.OpenApi.Hidi.csproj)
          $version = $content.Project.PropertyGroup.Version
          echo "::set-output name=version::${version}"
        shell: pwsh
        id: getversion
      - name: Get truncated run number
        if: contains(github.ref, env.PREVIEW_BRANCH)
        id: runnumber
        run: echo "runnumber=$(echo ${{ github.run_number }} |  awk '{ print substr($0, length($0)-3, length($0)) }')" >> $GITHUB_OUTPUT
      - name: Get current date
        if: contains(github.ref, env.PREVIEW_BRANCH)
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
      - name: Push to registry - Nightly
        if: contains(github.ref, env.PREVIEW_BRANCH)
        uses: docker/build-push-action@v6.13.0
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:nightly,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.getversion.outputs.version }}-preview.${{ steps.date.outputs.date }}${{ steps.runnumber.outputs.runnumber }}
          build-args: |
            version_suffix=preview.${{ steps.date.outputs.date }}${{ steps.runnumber.outputs.runnumber }}
      - name: Push to registry - Release
        if: contains(github.ref, 'refs/tags/v')
        uses: docker/build-push-action@v6.13.0
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.getversion.outputs.version }}
