name: Publish Docker image
on:
  workflow_dispatch:
  push:
    branches: [master, vnext]
    paths: ['src/Microsoft.OpenApi.Hidi/**', '.github/workflows/**']
env:
  REGISTRY: msgraphprod.azurecr.io
  IMAGE_NAME: public/hidi
jobs:
  push_to_registry:
    environment:
      name: acr
    name: Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Login to GitHub package feed
        uses: docker/login-action@v2.0.0 
        with:
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          registry: ${{ env.REGISTRY }}
      - run: |
          $content = [XML](Get-Content ./src/Microsoft.OpenApi.Hidi/Microsoft.OpenApi.Hidi.csproj)
          $version = $content.Project.PropertyGroup.Version
          echo "::set-output name=version::${version}"
        shell: pwsh
        id: getversion
      - name: Push to GitHub Packages - Nightly
        if: ${{ github.ref == 'refs/heads/vnext' }}
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:nightly
      - name: Push to GitHub Packages - Release
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.getversion.outputs.version }}
